
.button {
	margin:0 auto;
	width: 10%; 
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 10.5px 21px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 18px;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
}
.button:hover {
	border-top-color: #782c29;
	background: #782c29;
	color: #ccc;
}
.button:active {
	border-top-color: #1b435e;
	background: #1b435e;
}
/*===========================================================*/
/*===========================================================*/
.welcome{
	background-color: #336699;
	padding: 10px;
	text-align: center;
	color:white;
	margin: 0 10% 0 10%;
	border: 2px solid;
	border-radius: 25px;
}
.login_box{
	
	text-align: left;
	margin: 7% 0 0 25%;
	float: left;
}
.info{
	height:220px;
	width:220px;
	border:5px solid #484B4F;
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;
	float: right;
	margin: -11%  25% ;
	font-family: helvetica;
	font-size: 20px;
	border-radius: 8px;
}
.info p1{
	
	font-weight: bold;
}
.info h3{
	text-align: center;
	text-decoration: underline;
}

.info id{
	font-weight: bold;
	text-decoration: underline;
	white-space: nowrap;
	text-align: center;
}
.info id:hover{
	color:#FF0000;
	font-style: italic;
}
	
}
html{
	background-color: #FFFFFF
}
/*===========================================================*/
/*===========================================================*/

.wrap {
	background-color:#f6f6f6;
	width:450px;
	margin: 0 auto;
	padding:10px;
	height:260px;

	p {
		font-family:Helvetica, sans-serif;
		text-align:center;
	}
}

.login_button {
	background:url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login.png') no-repeat 5px 5px #484B4F;
	width: 100px;
	cursor:pointer;
	border-radius:50px;
	padding:10px 20px 10px 0;
	color:#336699;
	font-size:14px;
	text-align:left;
	text-indent:40px;
	display:block;
	margin:0 auto;

	
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: .4s;
	-webkit-transition-property: all;

	-moz-transition-timing-function: ease-in-out;
	-moz-transition-duration: .4s;
	-moz-transition-property: all;
}

.login_button:hover {
	background-image: url('shot');
	background-position: 65px 5px;
	text-indent: 20px;  
}

.twat {
	float:right;
	font-family:Helvetica, sans-serif;
}
footer{
	background-color: #484B4F;
	padding: 10px;
	margin: 21% 10%;
	border-radius: 25px;
	color: #484B4F;
	text-align: center;
}

.register_link{
	margin: 15% 64% 0% 31%
}

#login {
  text-align: center;
}