<h1>Welcome to Traveler</h1>

<form action ='/user/login' method='post'>
	<input type ='text' name ='email' placeholder = 'Email Address'><br>
	<input type ='password' name = 'password' placeholder = 'Password'><br>
	<input type ='submit' value ='Login'>
</form><br>

<a href="/user/new">Register</a>
