<!-- already have <body> tag in layout file -->
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
<div class="welcome">
	<h1>Welcome to Out-There</h1>
</div>
<div class="login_box">
	<form action ='/user/login' method='post'>
        <!-- add labels for form inputs -->
        <!-- placeholders not supported in older browsers -->
		<input type ='text' name ='email' placeholder = 'Email Address'><br>
        <!-- password inputs not supported in older browsers -->
		<input type ='password' name = 'password' placeholder = 'Password'><br>
		<div class="login_button"><input type="submit" value="Login" class="login" /></div>
	</form><br>
</div>
<div class="register_link">
	<a href="/user/sign">Register</a><br>
</div>

<!-- shouldn't need 2 of these on a page -->
<div id="fb-root"></div>




<div class="info">
    <!-- already have a <head> element in the layout -->
    <!-- <head> element should never contain presentational tags; you might be looking
        for <header>? -->
	<head>
		<h3>About</h3>
	</head>
    <!-- same comment as above -->
	<body>
        <!-- not a valid html tag -->
		<p1>
			Ever wonder what the else is out there?
		</p1>
		<p>
            <!-- <id> not a valid html tag -->
			With <id>Out-There</id> You Can Travel The World, and see what people are taking pictures of around the world.
		</p>
        <!-- p3 not a valid html tag -->
		<p3>Introducing: <id>Out-There</p3></id>
	</body>
</div>

<footer>
<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
</footer>

