<h1>Register</h1>

<form name="user_info" action ='/user/create' method ='post'>
	<input type ="text" name="first_name" placeholder = "First Name"><br>
	<input type ="text" name="last_name" placeholder = "Last Name"><br>
	<input type ="password" name="password" placeholder = "Password"><br>
	<input type='submit' value='Register'>
</form>