<h1>Sign-Up</h1>

<form name="user_info" action ='/user/create' method ='post'>
	<input type ="text" name="user[first_name]" placeholder = "First Name"><br>
	<input type ="text" name="useruser[last_name]" placeholder = "Last Name"><br>
	<input type ="text" name="user[email]" placeholder = "Email Address"><br>
	<input type ="password" name="user[password]" placeholder = "Password"><br>
	<input type='submit' value='Register'>
</form>